doctype html
html
    head
        title 金盾时代-综合业务系统
        include ./../pug_include/head_pc

        link(rel="stylesheet" type="text/css" href="css/index.css")
        script(data-src='js/dist/index.min.js?t='+tt)


    body



        b-input(name='名字:'
                placeholder='测试。。。'
                rule='must,min:6'
                type='text'
                err='错。。。'
                iconWidth=20
                icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='password'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='select'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='textarea'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='yzm'
            yzmSrc='#'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input-file(name='名字:'
            key='ttt'
            type='file'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input-date(name='名字:'
            key='ttt'
            type='date'
            err='错。。。'
            min='2020-6-3'
            max='2020-6-22'
            iconWidth=20
            icon='./image/aa.jpg'
        )








