doctype html
html
    head
        title 金盾时代-综合业务系统
        include ./../../pug_include/head_pc

        link(rel="stylesheet" type="text/css" href="index.css?t="+tt)
        script(data-src='index.min.js?t='+tt)


    body

        b-input-money(name='money:'
            id='phone'
            placeholder='测试。。。'
            rule='must,phone'
            type='text'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input(name='名字1:'
                id='phone'
                placeholder='测试。。。'
                rule='must,phone'
                type='text'
                err='错。。。'
                iconWidth=20
                icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='password'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='select'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='textarea'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='textarea'
            err='错。。。'
            iconWidth=20
            autoHeight='true'
            icon='./image/aa.jpg'
        )

        b-input(name='名字:'
            placeholder='测试。。。'
            rule='must,min:6'
            type='yzm'
            yzmSrc='#'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input-file(name='名字:'
            key='ttt'
            type='file'
            err='错。。。'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input-date(name='名字:'
            key='ttt'
            type='date'
            err='错。。。'
            min='2020-6-3'
            max='2020-6-22'
            iconWidth=20
            icon='./image/aa.jpg'
        )

        b-input-sms(name='名字:'
            key='ttt'
            type='sms'
            err='错。。。'
            rule='must,min:4,max:4'
            iconWidth=20
            icon='./image/aa.jpg'
        )








