doctype html
html
    head
        title 金盾时代-综合业务系统
        include ./../../pug_include/head_pc

        script(data-src='inie.min.js?t='+tt)


    body


        div(class='left')
            b-win-left



        div(class='win_right')
            iframe(
                id='win_right'
                name='win_left'
                frameborder=0
                width="100%"
                scrolling="auto"
                height="100%"
                src='../index/index.html'
            )







