doctype html
html
    head
        title &nbsp;
        include ./../../pug_include/head_pc

        script(data-src='test.min.js?t='+tt)

        style.
            .left{width:100px;background: red;height: 30px;}
            b-bind-obj{
                color:red;
            }
            b-bind-array{
                color:blue; width: 100%;
            }
            .item{
                width:50%; text-align: center;
                height: 30px; line-height: 30px;
            }
            div{
                width:100%; text-align: left;
                height: 40px; line-height: 40px;
            }

    body
        //div(id='aaa')


        //b-bind-obj(class='box_slt' id='a')
        //    div(class='box_hcc' style='width:100%;height:30px;')
        //        div(class='left' tt='${rs.a}' data-b='${rs.c}' data-cc='${rs.b}') ${rs.a}
        //        div(class='boxflex1' adb='${rs.d}') ${rs.b}
        //        div
        //            a ${rs.a}
        //            p ${rs.d}
        //        input(type='text' value='${rs.a}')
        //        b-input(type='text' class='a' value='${rs.a}')

        //b-bind-array(class='box_slt' id='c')
        //    div(class='box_hcc' style='width:100%;')
        //        p(style='width:100px;height:30px;background:red;') ${rs.name}
        //        b-bind-array(data-data='${rs.arr}' class='boxflex1 box_hcc' style='height:30px;')
        //            p(style='width:100px;height:30px;background:yellow;') ${rs.name}


        //b-bind-array(data-data='${rs.arr2}')
        //    b-bind-obj ${rs.a}
        //
        //
        //b-bind-obj(class='box_hcc' id='b' data-data='${rs.c}')
        //    div(class='left') ${rs.a}
        //    div(class='boxflex1') ${rs.b}





        //b-bind-obj(class='box_hcc' id='a')
        //    div ${rs.b}
        //b-bind-array(id='b')
        //b-bind-obj(data-data='${rs.name}' id='c' style='width:100%;height:30px;')
        //    p(data-b='${rs.aa}' style='width:100%;background:red;height:30px;') ${rs.aa}


        //b-bind-array(class='box_scc' id='c')
        //    div ${rs.name}
        //    b-bind-array(class='box_hlc' id='c1' data-data='${rs.children}')
        //        div(class='item') ${rs.aaa}
        //
        //
        //b-bind-obj(class='box_scc' id='d')
        //    div ${rs.name}
        //    div ${rs.age}
        //    b-bind-obj(class='box_scc' data-data='${rs.ddd}')
        //        div(class='${rs.c}') ${rs.a}
        //        div ${rs.b}


        b-bind-array(id='a')
            div ${rs.name}
            b-bind-obj(data-data='${rs.obj}')
                div ${rs.name}

        template a123